<?xml version="1.0" encoding="utf-8"?>
<app>

	<network-interface>eth0</network-interface>
	

	<database>
		<host>172.20.52.48</host>
		<user>root</user>
		<password>root</password>
		<name>live_capture</name>
	</database>

	<low-level-filters>
		<rule>(ip and tcp) or (ip and udp)</rule>
	</low-level-filters>

	<application-layer-filters>
		<rule>e-mail</rule>
		<rule>TencentQQ</rule>
	</application-layer-filters>
</app>
